@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/Quicksand-Light.ttf');
}

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Quicksand-Regular.ttf');
}

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Quicksand-Medium.ttf');
}

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/Quicksand-SemiBold.ttf');
}

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Quicksand-Bold.ttf');
}

@font-face {
	font-family: 'BrianStrait';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/brian-strait.ttf');
}

@font-face {
	font-family: 'Movement-Indirect';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Movement-IndirectThin.woff2');
}

@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/HelveticaNeue-Light.otf');
}

@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 100;
	src: url('/fonts/HelveticaNeue-Thin.otf');
}

@font-face {
	font-family: 'Mate';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Mate-Regular.ttf');
}

html {
	@apply overflow-hidden text-my-black;
}

div {
	@apply md:scrollbar-thin md:scrollbar-track-my-black-50/50 md:scrollbar-thumb-my-black-100 md:hover:scrollbar-thumb-my-black-200;
}
