@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/HelveticaNeue-Light.otf');
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/HelveticaNeue-Thin.otf');
	font-display: swap;
}

html {
	@apply overflow-hidden text-my-black outline-none active:outline-none focus:outline-none;
}

* {
	@apply outline-none active:outline-none focus:outline-none font-thin;

	-webkit-tap-highlight-color: transparent;
}

::selection {
	@apply bg-my-black-500 text-white;
}

div,
article {
	@apply md:scrollbar-thin md:scrollbar-track-my-black-50/50 md:scrollbar-thumb-my-black-100 md:hover:scrollbar-thumb-my-black-200;
}
